@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.card {
    margin: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(40, 124, 121);
  height: 400px;
  width: 270px;
  flex-wrap: wrap;
  display: inline-block;
  background: rgb(40, 124, 121);
  box-shadow: 3px 3px 3px rgb(40, 124, 121);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgb(40, 124, 121);
    }

